transformers<=4.43.0
sentence-transformers<=2.7.0
sqlalchemy
llama-index==0.10.58
llama-index-llms-ollama
llama-index-embeddings-huggingface
nest-asyncio
streamlit
plotly
langgraph
langchain
langchain-community
langchain-ollama
langchain_groq
langchain_core