transformers<=4.43.0
sentence-transformers<=2.7.0
pandas
sqlalchemy
llama-index==0.10.58
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-experimental
nest-asyncio
streamlit
plotly
langgraph


folium
streamlit-folium
wordcloud
matplotlib


# For audio processing
SpeechRecognition==3.10.1
gTTS==2.5.1